@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

body {
  font-family: "Playfair Display", serif;
  margin: 0;
  background: linear-gradient(rgba(108, 85, 74, 0.6), rgba(108, 85, 74, 0.6)),
    url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.navbar a,
footer {
  font-weight: bold;
  color: #c9ad7f;
}

.navbar,
footer {
  background: linear-gradient(
    315deg,
    rgba(90, 73, 70, 0.8) 0%,
    rgba(214, 139, 99, 0.8) 25%,
    rgba(152, 105, 87, 0.8) 50%,
    rgba(88, 70, 69, 0.8) 75%,
    rgba(108, 85, 74, 0.8) 100%
  );
}

.navbar-toggler {
  width: 16px;
  height: 16px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: linear-gradient(
    235deg,
    rgba(205, 0, 233, 0.5) 0%,
    rgba(168, 153, 17, 0.5) 48%,
    rgba(196, 18, 18, 1) 100%
  );
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
  margin-top: -7px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 7px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .toggler-icon {
  background: linear-gradient(
    260deg,
    rgba(85, 85, 85, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
