section {
    display:none;
    width:80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

#landing {
    display: block;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding-right: 15vw;
    padding-top: 25vh;
    width: 100vw;
    height: 95vh;
}

.fs-1 {
    margin-bottom: 40px;
    border-right: 1px solid gray;
}

.img-thumbnail {
    width:250px;
}

.img-port {
    width: 40%;
    min-width: 350px;
}

.description {
    width: 90%;
}

.top-marg {
    margin-top: 20px;
}

#form {
    width: 350px;
}

.img-thumbnail {
    margin-bottom: 40px;
}

@media only screen and (max-width: 767px){
.projdesc {
    margin-top: 20px;
    margin-bottom: 30px;
}}

.ptn {
    margin-bottom: 10px;
}