section {
    width:96%;
    margin-top: 40px;
}

.img-port {
    width: 40%;
    min-width: 350px;
}

.description {
    width: 90%;
}

.top-marg {
    margin-top: 40px;
}

#form {
    width: 350px;
}